<ng-container *ngIf="items != undefined">
  <div class="product-list">
    <ng-container *ngFor="let item of items | async">
      <div class="product-card">
        <app-image imageId="{{ item.photos[0] }}"></app-image>
        <div class="short-product-info">
          <p>{{ item.model }}</p>
          <p>{{ item.price }}</p>
        </div>
      </div>
      <!-- <img src="{{ item.photos[0] }}" alt="" /> -->
    </ng-container>
  </div>
  <!-- <img src="d33545d5-b4ed-4dc6-90e6-23c20954d32b" alt="" /> -->
</ng-container>
