<ng-container *ngIf="lot$ | async as lot">
  <header>
    <h2>
      <app-icon-fontawesome (click)="goBack()">&#xf053;</app-icon-fontawesome>
      {{ lot.model }}
    </h2>
  </header>
  <section>
    <div>
      <app-image class="image-main" imageId="{{ lot.photos[0] }}"></app-image>
      <div class="common-info">
        <ul>
          <li>
            Price: <span>{{ lot.price }} USD</span>
          </li>
          <li>
            Horse power: <span>{{ lot.horsePower }}</span>
          </li>
          <li>
            Year: <span>{{ lot.year }}</span>
          </li>
        </ul>
        <ng-container [ngSwitch]="isLotInCart(lot.id)">
          <button
            class="app-button"
            *ngSwitchCase="false"
            (click)="addToCart(lot.id)"
          >
            To cart
          </button>
          <button
            class="app-button"
            *ngSwitchCase="true"
            (click)="removeFromCart(lot.id)"
          >
            Remove from cart
          </button>
        </ng-container>

        <button class="app-button">To favourite</button>
      </div>
    </div>

    <div class="label text"><strong>Lot description</strong></div>
    <table class="app-table">
      <tr *ngFor="let entity of lot.characteristics">
        <td>{{ entity.name }}</td>
        <td>{{ entity.value }}</td>
      </tr>
    </table>
  </section>
</ng-container>
