<!-- <app-logo></app-logo> -->
<div class="button-container">
  <button (click)="login()">Войти</button>
  <button (click)="register()">Зарегистрироваться</button>
</div>
<div class="navigation-panel">
  <app-logo></app-logo>
  <div class="nav-menu text">
    <span>About Us</span>
    <span>Contacts</span>
    <span>Catalog</span>
  </div>
  <img class="nav-icons" src="../../../assets/images/heart-thin.svg" alt="" />
  <img
    class="nav-icons"
    src="../../../assets/images/shopping-cart.svg"
    alt=""
  />
</div>
