<!-- <app-logo></app-logo> -->
<div class="button-container">
  <ng-container *ngIf="!isAuthorised; else temp">
    <span class="text" (click)="login()">Войти</span>
    <span class="text" (click)="register()"> Зарегистрироваться </span>
  </ng-container>
  <ng-template #temp>
    <span class="text">Добро пожаловать, {{ user.userName }}</span>
    <span class="text" (click)="logout()">Выйти</span>
  </ng-template>
</div>
<div class="navigation-panel">
  <app-logo></app-logo>
  <div class="nav-menu text">
    <span>About Us</span>
    <span>Contacts</span>
    <span>Catalog</span>
  </div>
  <img class="nav-icons" src="../../../assets/images/heart-thin.svg" alt="" />
  <img
    class="nav-icons"
    src="../../../assets/images/shopping-cart.svg"
    alt=""
  />
</div>
