<header class="popup-header">Войти</header>
<ng-container *ngIf="error === 401">Неверный логин или пароль</ng-container>

<form [formGroup]="form" (ngSubmit)="login()">
  <span>Логин:</span>
  <input type="text" formControlName="login" />
  <!-- <app-textbox appValueAccessor formControlName="login"></app-textbox> -->
  <span>Пароль:</span>
  <input type="password" formControlName="password" />
  <!-- <app-textbox
    textType="password"
    appValueAccessor
    formControlName="password"
  ></app-textbox> -->
  <button type="submit">Войти</button>
</form>
