<header>
  <span class="text">Регистрация</span>
  <app-icon-fontawesome class="close-icon" (click)="close()">
    &#xf00d;
  </app-icon-fontawesome>
</header>
<form action="" [formGroup]="form" autocomplete="off">
  <ng-container *ngIf="form.invalid && isSubmitted && form.touched">
    <p class="error-message">Заполните обязательные поля</p>
  </ng-container>
  <dl>
    <dd>
      <input
        class="app-input"
        placeholder="Имя"
        type="text"
        formControlName="firstName"
      />
    </dd>
    <ng-container *ngIf="form.controls.firstName.touched">
      <ng-container
        *ngFor="let item of form.controls.firstName.errors | appObjectKeys"
        ngSwitch="item"
      >
        <ng-container *ngIf=""></ng-container>
      </ng-container>
    </ng-container>
    <dd>
      <input
        class="app-input"
        placeholder="Фамилия"
        type="text"
        formControlName="lastName"
      />
    </dd>
    <dd>
      <input
        class="app-input"
        placeholder="Имя на сайте"
        type="text"
        formControlName="userName"
      />
    </dd>
    <dd>
      <input
        class="app-input"
        placeholder="Мобильный телефон"
        type="text"
        formControlName="phoneNumber"
      />
    </dd>
    <dd>
      <input
        class="app-input"
        placeholder="Email"
        type="text"
        formControlName="email"
      />
    </dd>
    <dd>
      <input
        class="app-input"
        placeholder="Пароль"
        autocomplete="new-password"
        type="password"
        formControlName="password"
      />
      <button class="info-icon">
        <app-icon-fontawesome
          tooltip="Пароль должен содержать хотя бы одну заглавную букву, хотя бы одно число и быть в длину не менее 8 символов"
          placement="right"
          >&#xf129;</app-icon-fontawesome
        >
      </button>
    </dd>
    <dd>
      <input
        class="app-input"
        placeholder="Повторите пароль"
        autocomplete="new-password"
        type="password"
        formControlName="retypePassword"
      />
    </dd>

    <dd>
      <button class="app-button" (click)="register()">
        <span>Зарегистрироваться</span>
      </button>
    </dd>
  </dl>
</form>
