:host {
  display: block;
  --popup-width: 30rem;
  --popup-height: 35rem;
  text-align: center;

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    border-bottom: #fdb819 1px solid;
    font-size: 20px;

    .close-icon {
      color: slategray;
      border-radius: 5px;
      transition: all 0.3s;

      &:hover {
        background-color: rgb(225, 228, 231);
        cursor: pointer;
      }
    }
  }

  dl {
    width: 60%;
    margin: auto;
  }

  dd {
    margin: 0;
    position: relative;
    width: 100%;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    > button {
      padding: 0.5rem 2rem;
      transition: all 0.5s;
      display: inline-block;
    }

    > button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    > button span:after {
      content: "\00BB";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    > button:hover span {
      padding-right: 10px;
    }

    > button:hover span:after {
      opacity: 1;
      right: 0;
    }

    &:last-child {
      margin: 0;
      margin-top: 1.5rem;
      text-align: center;
    }

    > input.ng-touched.ng-invalid {
      border-color: red;
    }

    .info-icon {
      background: transparent;
      border: none;
      cursor: pointer;
      display: inline-block;
      color: slategray;
      font-size: 20px;
      font-size: 1rem;
      position: absolute;
      top: 0;
      right: 20px;
      padding: 7px 10px;
      z-index: 2;
    }
  }
}
