<header>
  <button class="app-button" (click)="createLot()">Add new</button>
</header>

<ng-container *ngIf="items$ | async as items">
  <app-admin-entity-list [items]="items">
    <ng-template #row let-item>
      <div>
        <strong>{{ item.model }}</strong> - {{ item.price }} USD
      </div>
    </ng-template>
    <ng-template #expandTemplate let-model>
      <div class="car-lot-expandable">
        <strong>Characteristics:</strong><br />
        <span>Year of market entry: {{ model.year }}</span> <br />
        <span>Horse power: {{ model.horsePower }}</span> <br />
        <span *ngFor="let item of model.characteristics">
          {{ item.name }}: {{ item.value }} <br />
        </span>
        <button class="app-button" (click)="deleteLot(model.id)">Delete</button>
        <button class="app-button" (click)="editLot()">Edit</button>
      </div>
    </ng-template>
  </app-admin-entity-list>
</ng-container>
