<header>
  <button class="app-button" (click)="createLot()">Add new</button>
</header>
<ng-container *ngIf="items$ | async as items">
  <div
    class="car-lot"
    *ngFor="let item of items.list"
    #expandElem="appExpandItem"
    appExpand
    [expandTemplate]="detailizedCarInfo"
    [expandContext]="item"
  >
    <span>
      <strong>{{ item.model }}</strong> - {{ item.price }} USD <br />
    </span>
    <app-expand-icon [isExpanded]="expandElem.isExpanded()"></app-expand-icon>
  </div>
  <ng-template #detailizedCarInfo let-model>
    <div class="car-lot-expandable">
      <strong>Characteristics:</strong><br />
      <span>Year of market entry: {{ model.year }}</span> <br />
      <span>Horse power: {{ model.horsePower }}</span> <br />
      <span *ngFor="let item of model.characteristics">
        {{ item.name }}: {{ item.value }} <br />
      </span>
      <button class="app-button" (click)="deleteLot(model.id)">Delete</button>
      <button class="app-button" (click)="editLot()">Edit</button>
    </div>
  </ng-template>
</ng-container>
