:host {
  display: block;
  background-color: rgb(247, 247, 247);
  padding: 0 1rem;
  height: 40rem;

  header {
    border-bottom: 1px solid slategrey;

    > span {
      display: block;
      padding: 1rem;
      font-size: 20px;
    }
  }

  section {
    .row {
      margin: 1rem;
    }
  }
}
