:host {
  display: block;
  width: 35rem;

  header {
    > div {
      display: flex;

      h3 {
        width: 100%;
        text-align: center;
      }
      .app-button {
        margin: 0.5rem 1rem;
      }
    }
  }

  section {
    padding: 0rem 2rem;

    form {
      textarea {
        width: 20rem;
        height: 10rem;
      }

      hr {
        margin-top: 1rem;
      }

      label {
        padding-top: 1rem;
      }

      button {
        display: block;
        margin-top: 1rem;
      }
    }
  }
}
