<header>
  <div>
    <button class="app-button" (click)="close()">Close</button>
    <h3>Add new lot</h3>
  </div>

  <hr />
</header>
<section>
  <form [formGroup]="form">
    <label class="app-label">Model name</label>
    <input type="text" class="app-input" formControlName="model" />
    <label class="app-label">Year</label>
    <input type="text" class="app-input" formControlName="year" />
    <label class="app-label">Horse power</label>
    <input type="text" class="app-input" formControlName="horsePower" />
    <label class="app-label">Number of cars</label>
    <input type="text" class="app-input" formControlName="numberOfCar" />
    <label class="app-label">Price</label>
    <input type="text" class="app-input" formControlName="price" />
    <label class="app-label">Description</label>
    <textarea
      cols="30"
      rows="10"
      type="text"
      class="app-input"
      formControlName="description"
    ></textarea>
    <label class="app-label">Storage address</label>
    <select
      *ngIf="storagesList$ | async as storages"
      formControlName="storageAddress"
      class="app-select"
    >
      <option *ngFor="let item of storages" [value]="item.address">
        {{ item.address }}
      </option>
    </select>
    <ng-container *ngIf="entList$ | async as ents">
      <h3>Characteristics:</h3>
      <!-- <div *ngFor="let item of getObjectKeys(ents)">
        <label class="app-label">{{ ents[item] }}</label>
        <select formControlName="carcase" class="app-select">
          <option *ngFor="let elem of ents[item]" [value]="elem.value">
            {{ elem.value }}
          </option>
        </select>
      </div> -->

      <label class="app-label">Carcase</label>
      <select formControlName="carcase" class="app-select">
        <option *ngFor="let item of ents.carcase" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
      <label class="app-label">Engine</label>
      <select formControlName="engine" class="app-select">
        <option *ngFor="let item of ents.engine" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
      <label class="app-label">Mark</label>
      <select formControlName="mark" class="app-select">
        <option *ngFor="let item of ents.mark" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
      <label class="app-label">Drive type</label>
      <select formControlName="drive" class="app-select">
        <option *ngFor="let item of ents.drive" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
      <label class="app-label">Transmission</label>
      <select formControlName="transmission" class="app-select">
        <option *ngFor="let item of ents.transmission" [value]="item.value">
          {{ item.value }}
        </option>
      </select>
    </ng-container>
    <label class="app-label">Lot photos</label>
    <input
      #imageInput
      type="file"
      accept=".jpg"
      (change)="processFile(imageInput)"
    />
    <button class="app-button" (click)="create()">Добавить</button>
  </form>
</section>
<footer></footer>
