:host {
  display: block;
  width: 35rem;

  header {
    > div {
      display: flex;

      h3 {
        width: 100%;
        text-align: center;
      }
      .app-button {
        margin: 0.5rem 1rem;
      }
    }
  }
}
